.pln {
  color: #000;
}

@media screen {
  .str { color: #080; }
  .kwd { color: #008; }
  .com { color: #800; }
  .typ { color: #606; }
  .lit { color: #066; }
  .clo,
  .opn,
  .pun { color: #660; }
  .tag { color: #008; }
  .atn { color: #606; }
  .atv { color: #080; }
  .dec,
  .var { color: #606; }
  .fun { color: red; }
}

@media print, projection {
  .kwd,
  .tag,
  .typ { font-weight: 700; }
  .str { color: #060; }
  .kwd { color: #006; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; }
  .lit { color: #044; }
  .clo,
  .opn,
  .pun { color: #440; }
  .tag { color: #006; }
  .atn { color: #404; }
  .atv { color: #060; }
}

pre.prettyprint {}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee;
}

.center-image {
display: block;
margin-left: auto;
margin-right: auto;
}

.no-center {
  margin-left: 0;    /* override centering */
  margin-right: 0;
  display: inline;   /* inline images don’t center automatically */
}

.wider{
  max-width:5000px;
  width: 96vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -48vw;
  margin-right: -48vw;
}

img{
  max-width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  margin-top:auto;
}

object.footer{
	height:60px;
}

body{
  margin:0 auto;
  max-width:800px;
  min-width:30vw;
  line-height:1.8;
  font-size:18px;
  color:#000;
  padding:0 10px;
  background-color:#FFF;
  min-height:100vh;
  display:flex;
  flex-direction:column;
}