{% comment %}
    Use the baseurl as a prefix for each link in the navigation data.
    Apply highlight formatting if the URL matches the current page.
{% endcomment %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

<body>
<h1>{{ item.name }}<h1>
<div style="width:100%; margin-bottom: 0px">
<span>
<a href="/" style="text-decoration: none; color: black;"><b>North Carpenter's Website</b></a>
</span>
<span style="float: right;"></span>
<nav>
    <link rel="stylesheet" href="style.css">
    {%- for item in site.data.navigation %}
        <a href="{{ item.link | relative_url }}" {% if item.link == page.url %}class="current" {% endif %}>
            {{ item.name }}
        </a>
        {% unless forloop.last %}<span> | </span>{% endunless %}
    {% endfor -%}
</nav>
<hr>
</body>